
a
{
    color:white;
    text-decoration: none;
}
body
{
    margin: 0px;
    background-color: grey;
    background-image: url("/Pictures/Red_Nebula.jpg");
    background-position: center;
}
div
{
    font-family: Arial, Helvetica, sans-serif;
}
.Layout-Flex
{
    display: flex;
    
}
.Header
{
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url(Pictures/Banner.png);
    background-size:100%;
    justify-content: center;
}

.Navigation-Flex
{
    display: flex;
    height: 55px;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    justify-content: center;
}
.NavigationItem
{
    margin: 5px 20px;
    font-size: 33px;
    text-decoration: none;
    color:white;
    transition-duration: 500ms;
}
.NavigationItem:hover
{
    transition-duration: 500ms;
    font-size: 34px;
    font-weight: bold;
}
.Teaser-Flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img.Large-Teaser
{
    height: 399.87px;
    width: 500px;
}
div.Large-Teaser-Title
{
    text-align: center;
    font-size: 40px;
    color:white;
}
div.Large-Teaser
{
    font-size: 30px;
    color:white;
}
.Large-Container-Teaser > div
{
    padding: 50px 50px;
}
.Large-Container-Teaser
{
    opacity: 0.8;
    display:flex;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    width: auto;
    max-height: 400px;
    margin: 100px 200px;
    transition-duration: 300ms;
    transition-delay: 100ms;
}
.Large-Container-Teaser:hover
{
    opacity: 0.9;
    transition-duration: 300ms;
    transition-delay: 100ms;
    transform:scale(1.1);
}

img.Small-Teaser
{
    height: 300px;
    width: 300px;
}
div.Small-Teaser
{
    align-self: center;
    padding: 10px 10px;
    font-size: 30px;
    color:white;    
}
.Small-Container-Teaser
{
    opacity: 0.8;
    display:flex;
    flex-direction: column;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    width: 295px;
    height: 295px;
    margin: 20px 50px 50px 50px; 
    overflow: hidden;
    transition-duration: 300ms;
    transition-delay: 50ms;
}
.Small-Container-Teaser:hover
{
    opacity: 1;
    transition-duration: 300ms;
    transition-delay: 50ms;
    transform: scale(1.1);
}
.Footer
{
    height: 400px;
    padding: 40px;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
}
.Footer > div {
    display: flex;
}

.Footer-Object1
{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    background-color:rgba(110, 0, 0, 0.1);
}
.Footer-Object1 > div
{   
    margin: 10px 0px 0px;
    text-align:center;
    color:white;
    Font-size:40px;
}
.Footer-Object1 > table
{
    width:100%;
    font-size:30px;
    color:white;
}
tr td
{
    border-bottom: 2px solid snow ;  
}
.Footer-Object1 tr:hover
{
    background-color: rgba(210,0,0,1);
}
.Footer-Object2
{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    background-color:rgba(110, 0, 0, 0.1);
}
.Footer-Object2 > div
{
    margin: 10px 0px 0px;   
    text-align:center;
    color: white;
    font-size:40px;
}
.Footer-Object2 > table
{
    width:100%;
    font-size:30px;
    color:white;
}
.Footer-Object2 tr:hover
{
    background-color: rgba(210,0,0,1);
    cursor: pointer;
}
.Footer-Navigation
{
    display: flex;
    height: 30px;
    justify-content: center;
}
.Footer-NavigationItem
{
    color: white;
    font-size: 30px;
    margin: 10px 20px;
}
#nohovereffect:hover
{
    background-color: transparent;
    cursor: default;
}
