
label
{
    font-size: 30px;
    color:white;
}
a
{
    color:white;
    text-decoration: none;
}
body
{
    margin: 0px;
    background-color: grey;
    background-image: url("/Pictures/Red_Nebula_Expanded.jpg");
}
div
{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.Layout-Flex
{
    display: flex;
    
}
.Header
{
    display: flex;
    width: 100%;
    height: 200px;
    background-image: url(Pictures/Banner.png);
    background-size:100%;
    justify-content: center;
}

.Navigation-Flex
{
    display: flex;
    height: 55px;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    justify-content: center;
}
.NavigationItem
{
    margin: 5px 20px;
    font-size: 33px;
    text-decoration: none;
    color:white;
    transition-duration: 500ms;
}
.NavigationItem:hover
{
    transition-duration: 500ms;
    font-size: 34px;
    font-weight: bold;
}
.Teaser-Flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img.Large-Teaser
{
    height: 399.87px;
    width: 500px;
}
div.Large-Teaser-Title
{
    text-align: center;
    font-size: 40px;
    color:white;
}
div.Large-Teaser
{
    font-size: 30px;
    color:white;
}
.Large-Container-Teaser > div
{
    padding: 50px 50px;
}
.Large-Container-Teaser
{
    opacity: 0.8;
    display:flex;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    width: auto;
    max-height: 400px;
    margin: 100px 180px;
    transition-duration: 300ms;
    transition-delay: 100ms;
}
.Large-Container-Teaser:hover
{
    opacity: 0.9;
    transition-duration: 300ms;
    transition-delay: 100ms;
    transform:scale(1.1);
}

img.Small-Teaser
{
    height: 300px;
    width: 300px;
}
div.Small-Teaser
{
    align-self: center;
    padding: 10px 10px;
    font-size: 30px;
    color:white;    
}
.Small-Container-Teaser
{
    opacity: 0.8;
    display:flex;
    flex-direction: column;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
    width: 295px;
    height: 295px;
    margin: 20px 50px 50px 50px; 
    overflow: hidden;
    transition-duration: 300ms;
    transition-delay: 50ms;
}
.Small-Container-Teaser:hover
{
    opacity: 1;
    transition-duration: 300ms;
    transition-delay: 50ms;
    transform: scale(1.1);
}
.Footer
{
    height: 400px;
    padding: 40px;
    background: rgb(140,50,50);
    background: linear-gradient(90deg, rgba(140,50,50,1) 0%, rgba(210,0,0,1) 50%, rgba(140,50,50,1) 100%);
}
.Footer > div {
    display: flex;
}

.Footer-Object1
{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    background-color:rgba(110, 0, 0, 0.1);
}
.Footer-Object1 > div
{   
    margin: 10px 0px 0px;
    text-align:center;
    color:white;
    Font-size:40px;
}
.Footer-Object1 > table
{
    width:100%;
    font-size:30px;
    color:white;
}
tr td
{
    border-bottom: 2px solid snow ;  
}
.Footer-Object1 tr:hover
{
    background-color: rgba(210,0,0,1);
}
.Footer-Object2
{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    background-color:rgba(110, 0, 0, 0.1);
}
.Footer-Object2 > div
{
    margin: 10px 0px 0px;   
    text-align:center;
    color: white;
    font-size:40px;
}
.Footer-Object2 > table
{
    width:100%;
    font-size:30px;
    color:white;
}
.Footer-Object2 tr:hover
{
    background-color: rgba(210,0,0,1);
    cursor: pointer;
}
.Footer-Navigation
{
    display: flex;
    height: 30px;
    justify-content: center;
}
.Footer-NavigationItem
{
    color: white;
    font-size: 30px;
    margin: 10px 20px;
}
#nohovereffect:hover
{
    background-color: transparent;
    cursor: default;
}
.flex-infos
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.textbox
{
    background-color: red;
    margin: 80px 60px;
    width: 400px;
    padding: 20px;
    background-image: url("Pictures/Red_Galaxy.jpg");
    background-position: center;
}
.title-text
{
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
}
.p-text
{
    font-size: 20px;
    color: white;
}
#white
{
    color:white;
}
.Form-Container
{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 1300px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: rgb(160, 0, 0);
    outline: 20px solid rgb(220, 0, 0);
}
.Form-Title
{
    margin-top: 40px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
}
.Form-Flavor
{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:white;
    text-align: center;
}

.smallinput
{
    color: black;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 500px;
    font-size: 14px;
    margin-left: 385px;
}
.biginput
{
    color: black;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    max-width: 500px;
    max-height: 200px;
    min-width: 500px;
    min-height: 200px;
    font-size: 14px;
    height: 200px;
    width: 500px;
    margin-left: 385px;
}
#submit
{
    font-size: 20px;
    padding:5px 15px; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 525px;
    height: 50px;
    margin-left: 385px;
    margin-top: 10px;
}
.Team-Container
{
    display:flex;
    
}